
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/PageParent.cshtml";
}
@section css{
    @Styles.Render("~/Content/Patient.css")
    }
<h2>Index</h2>



    <div id="partial">

    
   @{ if (!Request.IsAuthenticated)
       {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Usager</div>
                    <div class="panel-body">
                        <ul>
                            @for (int i = 0; i <= 5; i++)
                            {
                                <li><a href="#">option</a></li>
                            }
                        </ul>
                        <button type="button">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>

       }
       else
       {
        <div class="row" style="padding-top:20px">
            <div class="col-md-7" style="padding:20px">
                <div class="panel panel-primary">
                    <div class="panel-heading">Nom patient</div>
                    <div class="panel-body">
                        @Ajax.ActionLink("Afficher fiche", "AfficherFiche", new { codeP = 17 }, new AjaxOptions() { UpdateTargetId = "partial", InsertionMode = InsertionMode.Replace })
                        @Html.TextBox("id")
                        <br />
                        <button type="button" data-toggle="collapse" data-target="#user">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">categorie</div>
                    <div class="panel-body">
                        <ul>
                            @for (int i = 0; i <= 5; i++)
                            {
                                <li><a href="#">option</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div id="user" class="collapse col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Usager</div>
                <div class="panel-body">
                    <ul>
                        @for (int i = 0; i <= 5; i++)
                        {
                            <li><a href="#">option</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

           }
       }
</div>

